<nav class="navbar navbar-expand-sm navbar-light sm-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LISTADO APPS</a>
     <div class="nav navbar-nav " class="d-flex justify-content-end  align-items-end ms-auto"  id="navbar">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link activate" routerLink="/tareas/add">Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link activate" routerLink="/tareas">Listado</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

